@import '../../constants/style-constants.scss';

@mixin another-button {
    @include font-style();
    font-weight: 500;
    color: #e5261e;
    &:hover {
        cursor: pointer;
    }
}

:host {
    width: 100%;
    max-width: 1180px;
}
.header {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        display: flex;
        align-items: center;
        .header__sign {
            height: 36px;
            width: 36.12px;
            .ellipse {
                fill: $red-color;
            }
        }
        .header__logo-name {
            margin-left: 11px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
    }
    .header__search {
        width: 402px;
        display: flex;
        justify-content: space-between;
        .input {
            width: 320px;
            @include input();
        }
        .search-button {
            @include another-button();
        }
    }
    .header__button-sign-out {
        @include another-button();
    }
    .header__button-sign-in {
        @include button();
    }
    .header__user-name {
        @include input();
        text-align: end;
        font-weight: 500;
        border-bottom: 1px solid #ffffff;
        margin-right: 15px;
    }
    .header__user-name:focus {
        @include input();
        font-weight: 500;
    }
}
