.movie {
    height: 434px;
    width: 280px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 20px;
    .movie__poster {
        border-radius: 10px;
        margin-bottom: 16px;
    }
    &:hover {
        cursor: pointer;
    }
}
