<div class="container">
    <app-header
        (signInEvent)="showModalLogin()"
        (signOutEvent)="logout()"
        [userName]="userName"
        [isUserAuthorized]="isUserAuthorized"
    ></app-header>
    <div class="select-tab">
        <span
            [ngClass]="
                isMoviesSelected
                    ? 'select-content select-content_selected'
                    : 'select-content'
            "
            (click)="selectMovies()"
        >
            Фильмы
        </span>
        <span
            [ngClass]="
                !isMoviesSelected
                    ? 'select-content select-content_selected'
                    : 'select-content'
            "
            (click)="selectChannels()"
        >
            Телеканалы
        </span>
    </div>
    <app-movies *ngIf="isMoviesSelected"></app-movies>
    <app-channels *ngIf="!isMoviesSelected"></app-channels>
</div>
<app-modal-login
    *ngIf="showModal"
    (exitEvent)="hideModalLogin()"
    (loginEvent)="login($event)"
></app-modal-login>
<app-footer></app-footer>
