<div class="container">
    <app-header></app-header>
    <div class="select-tab">
        <span
            [ngClass]="
                isMoviesSelected
                    ? 'select-content select-content_selected'
                    : 'select-content'
            "
            (click)="selectMovies()"
        >
            Фильмы
        </span>
        <span
            [ngClass]="
                !isMoviesSelected
                    ? 'select-content select-content_selected'
                    : 'select-content'
            "
            (click)="selectChannels()"
        >
            Телеканалы
        </span>
    </div>
    <app-movies *ngIf="isMoviesSelected"></app-movies>
    <app-channels *ngIf="!isMoviesSelected"></app-channels>
</div>
<app-footer></app-footer>
