@import '../../constants/style-constants.scss';
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1180px) {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .select-tab {
        margin-top: 35px;
        max-width: 1180px;
        margin-bottom: 35px;
        .select-content {
            display: inline-block;
            margin-right: 12px;
            margin-left: 12px;
            height: 38px;
            box-sizing: border-box;
            border-bottom: solid 2px #ffffff;
            color: #333333;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            &:hover {
                cursor: pointer;
            }
        }
        .select-content_selected {
            color: $red-color;
            border-bottom: 2px solid $red-color;
        }
    }
}
