@import './app/constants/style-constants.scss';

body {
    margin: 0;
    font-family: 'Rubik';
    background: $bg-color;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
