/* You can add global styles to this file, and also import other style files */
@import './app/constants/style-constants.scss';
body {
    margin: 0;
    font-family: 'Rubik';
    background: $bg-color;
}